.dog-info {
    position: relative;
}

.dog-info__ball {
    position: absolute;
    top: 0;
    right: -100px;
    transition-property: top, right, transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.dog-info:hover .dog-info__ball {
    transform: rotate(270deg);
    top: -60px;
    right: 400px;
}